.about-me {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
}

.image-container {
  position: relative;
  margin-right: 20px;
}

.about-me .profile-image {
  width: 170px; /* Match the background box */
  height: 170px; /* Match the background box */
  border-radius: 15px;
  position: absolute;
  top: 0; /* Align with the background box */
  left: 0; /* Align with the background box */
  transform: rotate(-15deg);
  transition: transform 0.3s ease-in-out;
}

.about-me .profile-image:hover {
  transform: rotate(0deg);
}

.background-box {
  width: 170px; /* Match the profile image */
  height: 170px; /* Match the profile image */
  background-color: var(--accent-color);
  border-radius: 20px;
}

.info {
  max-width: 500px;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stat {
  padding: 10px;
  background-color: var(--neutral-light);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.stat:hover {
  background-color: transparent;
}

.btn {
  margin-top: 20px;
}
