.experience {
  padding: 50px;
}

.experience h2 {
  text-align: center;
}

.experience-item {
  margin-bottom: 30px;
}

.experience-item h3 {
  font-size: 1.5em;
}

.experience-item p {
  font-style: italic;
}

.experience-item ul {
  list-style-type: none;
}

.experience-item ul li {
  margin-bottom: 10px;
}

.linkedin-btn:hover {
  transform: scale(1.1);
}
.linkedin-btn {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}
